<script src="/javascripts/auth.js"></script>
<div class=" body-auth">
    <a href="/" class="a-out-logo"><h1 class="out-logo">CollectR</h1></a>

  <div class="row">
    <div class="col-md-12">
      <div class="pr-wrap">
        <div class="pass-reset">
          <label>
            Enter the email you signed up with</label>
          <input type="email" placeholder="Email" />
          <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
        </div>
      </div>
      <div class="wrap">

        <p class="form-title">
          Log In</p>
        <form class="login" action="/auth/login" method="post">
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <div class="red">{{message}}</div>
          <input type="submit" value="Log In" class="btn btn-success btn-sm" />
          <div class="remember-forgot">
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" /> Remember Me
                  </label>
                </div>
              </div>
              <div class="col-md-6 forgot-pass-content">
                <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
              </div>
            </div>
          </div>
          <p class="account-message">
            Don't you have an account?
            <a href="/auth/signup">Sign up</a>
          </p>
        </form>

      </div>
    </div>
  </div>
</div>