

.body-auth
{
    background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 100vh;
}
.margin-top{
margin-top:60px;

}
.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 400px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"],form.login input[type="email"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}
.account-message{
  color:white;
  font-size: 0.8rem;

}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}
.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.icon-size {
  font-size: 87px;
}
#nav-user {
  float: right
}
#nav-dropDown {
  position: absolute;
  left: -210px;
  top: 40px;
}

#usuario{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#nav-options{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.collect-search{
  background-image: url("/images/search-bgn.jpg");
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-md-8 > *{
height: 70px;
}

#barraNavegacion{
    background-color: rgb(39, 39, 39);
    height: 60px;
    position:fixed;
    width: 100%;
    top:0;
    z-index: 10;
}

#barraNavegacion a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.flex-Photos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.pic-card{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px 0 ;
    text-align: center;
    border-bottom: 1px solid rgb(156, 155, 155);
  > *{
    margin:10px
  }
    img{
        height: 500px;
        object-fit: cover;
        }
    p{
        margin: 20px 0;
    }

    button{
        width: 5%;
        margin: 10px auto;
        background: #272727;
        border-radius: 100px;
        color: white;
        }

}

img{
    max-width: 100%;
}

.collect-search .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

#dropdown-btn{
  height: 69px;
  background: rgb(206, 203, 203)
}
#btn-search{
  width: 40%;
  margin-top: 10px;
  background: rgb(253, 166, 3);
  border:1px solid rgb(82, 77, 77);
}


.search{
    text-align: center;
}
.results{
  text-align: center;
  margin:20px
}
.imagen{
  width: 250px;
  height: 200px;
  max-height: 200px;
}
#navPic{
    width: 40px;
}

#userInfo{
    display: flex;
    list-style: none;
}

.album{
    position:relative;
    float:left;
    width:40%;
    padding:1em;
    margin:2em 10px 4em;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align: center;
    width: 200px;
    margin: 0 30px;

}

#flex-albums{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 80px 35px;
    .add-album{
        display: flex;
        vertical-align: middle;
        .fa-plus-circle:before{
            background: rgba(123, 199, 9, 0.603);
            border-radius: 50px
        }
         i{
            font-size: 40px;
            height: 50px;
        }
    }
    
   
}

#home{
  background-image: url("https://images2.alphacoders.com/175/thumb-1920-175470.jpg");
  background-size: cover;
  height: calc(100vh - 60px);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:  whitesmoke

}
#home h1{
  font-size:100px;
  color: whitesmoke;
}
.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.eachPic{
    margin-top: 25px;
    width: 30%;
     display: flex;
    flex-direction: column;
    button{
        width: 10%;
        background: #272727;
        border-radius: 50px;
        color: white;
        margin-top: 20px;
        }
}

#album-pics{
  text-align: center;
  margin-top: 20px;
  .delete-pic-btn{
  background: rgb(190, 5, 5)
  }
  .album-title{
      text-align: center
  }
}

