<div class="margin-top" id="album-pics">
    <div class="album-title margin-top">
        <h2>{{album.name}}</h2>

    </div>
    <p id="albumId" class=" d-none">{{album._id}}</p>
    <div class="flex-Photos">
        {{#each pictures}}

        <div class="pic-card">

            <div>
                <img src={{path}} alt="">
            </div>

            <button class="delete-pic-btn">
                <i class="far fa-trash-alt"></i>

            </button>

        </div>
        {{/each}}
    </div>
</div>