<<<<<<< HEAD
<div id="home">
<h1>CollectR</h1>
<h5>Find your favourite pictures and Collect!</h5>
=======
<div id="flex-Photos">
    {{#each Pictures}}
    <div id="card">

        <div>
            <img src={{path}} alt="">
        </div>
        <button>
            <i class="far fa-heart"></i>
        </button>

    </div>
    {{/each}}
>>>>>>> 45b7c439932deef9e878a6bd45ba1d79dd9ce377
</div>