<div class="info-position">
    <div class="fotoperfil">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
    </div>

    <div class="personal-info">
        <h3>Personal info</h3>


        <div class="datos-personal-info">
            <div class="campos-info">
                <label class="labels">Email:</label>
                <p class="datos">{{user.email}}</p>
            </div>
            <div>
                <label class="labels">Username:</label>
                <p class="datos">{{user.username}}</p>
            </div>
        </div>


    </div>
</div>

<hr>