<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <strong> Here you can change your Info</strong>
        </div>
        <h3>Personal info</h3>


        <form action="/userinfo" method="post">

          <div class="form-group">
            <label class="col-lg-8 control-label">Email:</label>
            <div class="col-lg-10">
              <input class="form-control" name="email" type="text" value={{user.email}}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-8 control-label">Username:</label>
            <div class="col-md-10">
              <input class="form-control" name="username" type="text" value={{user.username}}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-8 control-label">Password:</label>
            <div class="col-md-10">
              <input class="form-control" name="password" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-8 control-label">Confirm password:</label>
            <div class="col-md-10">
              <input class="form-control" name="passconfirm" type="password">
            </div>
          </div>
            <div class="col-md-10">
              <button class="btn btn-primary" value="Save Changes"> Save Changes</button>
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>